<h1>Tweets#index</h1>
<div>
  <% @tweets.each do |x|%>
  <a href="http://localhost:3000/tweets/<%=x.id%>">
    Body: <%=x.body%>
  </a>
  <br><br>
  <%end%>
</div>
<div>
  <a href="http://localhost:3000/tweets?page=<%=@page-1%>">
    <div>
    <p>Previous</p>
  </div></a>
  <a href="http://localhost:3000/tweets?page=<%=@page+1%>">
    <div>
    <p>Next</p>
  </div></a>
